<form>
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" class="form-control" id="title" required/>
  </div>

  <div class="form-group">
    <label for="desc">Description:</label>
    <textarea class="form-control" style="resize: vertical;max-height:400px; min-height:60px;" id="desc"
      placeholder="optional"></textarea>
  </div>

  <div class="form-group">
    <label for="category">Category:</label>
    <select class="form-control" id="category" required>
      <option value="" selected>-- Select --</option>
      {{#each action_categories}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="ref">Reference:</label>
    <input type="text" class="form-control" id="ref" placeholder="PR#, Feature ID, meeting, etc., optional"/>
  </div>

  <div class="form-group">
    <label for="owner">Owner:</label>
    <input type="text" class="form-control" id="owner" required/>
  </div>

  <div class="form-group">
    <label for="le">LE:</label>
    <input type="text" class="form-control" id="le" required/>
  </div>

  <div class="form-group" id="grp_status" style="display:none;">
    <label for="optradio">Status:</label><br>
    {{#each action_status}}
    <label class="radio-inline"><input type="radio" name="status" value='{{this}}'>{{this}}</label>
    {{/each}}
  </div>

  <!--div class="form-group" id="grp_status1">
    <label for="optradio1">Status2:</label><br>
    <div class="btn-group" data-toggle="buttons-radio">
      <button type="button" class="btn btn-info">New</button>
      <button type="button" class="btn btn-primary">Ongoing</button>
      <button type="button" class="btn btn-success">Done</button>
      <button type="button" class="btn btn-warning">Suspended</button>
      <button type="button" class="btn btn-danger">Blocked</button>
      <button type="button" class="btn btn-default">Cancelled</button>
    </div>
  </div-->

  <div class="form-group" id="grp_history" style="display:none;">
    <label for="history">History:</label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Date/author will be added as prefix automatically" id="history">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
      </span>
    </div><!-- /input-group -->

    <ul class="list-group">
    </ul>
  </div>
</form>