<div class="tab-pane" id="login">
  <div class="container" style="width:300px">
    <form class="form-signin">
      <h3 class="form-signin-heading">Please sign in</h3>
      <label for="uid" class="sr-only">Employee ID</label>
      <input type="text" id="uid" class="form-control" placeholder="Any Nokia account" required autofocus>
      <label for="pass" class="sr-only">Password</label>
      <input type="password" id="pass" class="form-control" placeholder="Password" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button id="btnLogin" class="btn btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <div class="alert alert-warning" role="alert" style="display:none;"></div>
  </div> <!-- /container -->
</div>