<div class="tab-pane" id="setting">
  <div class="panel panel-info" style="margin: 10px">
    <div class="panel-heading">
      <h3 class="panel-title">Global Settings</h3>
    </div>
    <div class="panel-body">
      <p>TODO</p>
    </div>
  </div>

  <div class="panel panel-info" style="margin: 10px">
    <div class="panel-heading">
      <h3 class="panel-title">Personal Settings</h3>
    </div>
    <div class="panel-body">
      <p>TODO</p>
    </div>
  </div>
</div>