<div class="tab-pane" id="help">
  <div class="panel panel-info" style="margin: 10px">
    <div class="panel-heading">
      <h3 class="panel-title">Keyboard Shortcuts</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><kbd>/</kbd>: search</li>
        <li><kbd>ctrl</kbd> + <kbd>a</kbd>: add</li>
        <li><kbd>ctrl</kbd> + <kbd>e</kbd>: edit</li>
        <li><kbd>ctrl</kbd> + <kbd>d</kbd>: delete</li>
        <li><kbd>ctrl</kbd> + <kbd>s</kbd>: save</li>
      </ul>
    </div>
  </div>
</div>