<div class="tab-pane" id="my">
  <div class="panel panel-info" style="margin: 10px">
    <div class="panel-heading">
      <h3 class="panel-title">Actions on me</h3>
    </div>
    <div class="panel-body">
      <p>TODO</p>
    </div>
  </div>

  <div class="panel panel-info" style="margin: 10px">
    <div class="panel-heading">
      <h3 class="panel-title">Actions created by me</h3>
    </div>
    <div class="panel-body">
      <p>TODO</p>
    </div>
  </div>
</div>