<!DOCTYPE html>
<html lang="en">
<head>
  <title>Apace Action Tracker</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/libs/dataTables/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="/libs/jquery-datetimepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

  <script type="text/javascript" src="/libs/jquery.min.js"></script>
  <script type="text/javascript" src="/libs/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" charset="utf8" src="/libs/dataTables/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="/libs/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>
  <script type="text/javascript" src="/libs/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="/libs/lodash.js"></script>
  <script type="text/javascript" src="/libs/jquery.autocomplete.min.js"></script>
</head>
<body>
<script type="text/javascript">
  var action_map = {{{ action_map }}};
  var name_suggestions = {{{ name_suggestions }}};  // for auto-complete of AP owners
</script>

<div class="container">
  <a href="/"><img src="/images/logo.png" alt="Apace" height="85px" width="138px"></a>
  <span class="title">
    <sub><i>Action Tracker</i></sub>
  </span>
</div>

<div class="tabbable tabs-right">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#main" data-toggle="tab">Main</a>
    </li>
    <li>
      <a href="#setting" data-toggle="tab">Setting</a>
    </li>
    <li>
      <a href="#help" data-toggle="tab">Help</a>
    </li>
    <li class="pull-right" id="li_login">
      <a href="#login" data-toggle="tab">Login</a>
    </li>
    <li class="pull-right" id="li_my">
      <a href="#my" data-toggle="tab">
        <label>User</label>
        <button class="close" type="button" title="Logout">×</button>
      </a>
    </li>
  </ul>

  <div class="tab-content">
    {{> tab_main    }}
    {{> tab_setting }}
    {{> tab_help    }}
    {{> tab_login   }}
    {{> tab_my      }}
  </div>
</div>

{{> dlg_modal   }}

<script type="text/javascript" src="/javascripts/apace.js"></script>
<script type="text/javascript" src="/javascripts/kbd.js"></script>
<script type="text/javascript" src="/javascripts/autocomplete.js"></script>
<script type="text/javascript" src="/javascripts/upload.js"></script>



</body>
</html>